
.nav-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
  }
  
  .nav {
    list-style: none;
    display: inline-block;
    /* margin-right: 200px; */
    font-weight: bold;
  }
  
  .nav:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  